
body{

  background-color:#F9F3F3;
}


h3 {
  color:#1EAE98;

}
h1 {
  color:#1E6F5C;

}

p {
  color:#5BAAEC;

}

hr{
  background-color:none;
  border-style:none ;


  border-bottom-style:dotted;
  border-color:grey;
  border-width:6px;

   width:30%;
}
